/*Header CSS*/

.header-main{
    height: 80px;
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
    align-content: stretch;
    position: fixed;
    
}
.header-logo{
    padding-left: 2%;
    height: 80px;
    width: 200px;
}
.header-title{
    font-size: 20px;
    color: red;
    padding-left: 1%;
    font-weight: bold;
    padding-right: 30%;
    white-space: nowrap;


}

.header-button{
    color: lightblue;
    padding-left: 10px;
    white-space: nowrap;
    font-weight: bold;
    margin-left: -15px;
    padding-right: 15px;



}

.header-logo-style{
    padding-top: 4%;
    height: 75%;
    width: 75%;

}

/*Footer CSS*/
.footer-main{
    height: .5vh;
    width: 100vw;
    background-color: rgb(36, 35, 35);
    color: whitesmoke;
    position: relative;
    


    
}
.footer-copyright{
    color: rgb(114, 105, 105);
    background-color: black;
    font-weight: bold;
    font-size: 13px;
    position: absolute;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100vw;
    text-align: center;
}




/*Main CSS*/
.main{
    
    width: 100vw;
    height: 95vh;
    background-color: rgb(31, 24, 24);
    color: black;
    display: flex;
	flex-direction: column;
    
}

.main-welcome{
    color: silver;
    font-size: 60px;
    font-family: 'Lucida Sans';
    padding-top: 10%;
    text-align: center;
    white-space: nowrap
    
}

.main-paragraph{
    color:snow;
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 6%;
    padding-top: 3%;
    width: 30%;
    padding-right: 10%
}
.main-image{
    height: 350px;
    width: 450px;

}

.main-paragraph-container{
    display: flex;
    flex-direction: row;
    padding-left: 10%;
}

/*Login Page*/
.login-container{
    padding-top: 20%;
    height: 500px;
    width: 500px;
    font-size: 10px;
    color: white;
}